<p id="notice"><%= notice %></p>

<p class="text-warning">
  <strong>Creator:</strong>
  <%= @token.creator %>
</p>

<p class="text-warning">
  <strong>State:</strong>
  <%= @token.state.name %>
</p>

<p class="text-warning">
  <strong>Recipient:</strong>
  <%= @token.recipient.name %>
</p>
<div class="list-group">
  <ul>
    <li class="list-group-item list-group-item-success">Subject: <%= @token.package.subject %></li>
    <li class="list-group-item list-group-item-warning">Request: <%= @token.package.request %></li>
    <li class="list-group-item list-group-item-info"> Response: <%= @token.package.response %></li>
  </ul>
</div>